@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.menu {
  background: url("../img/menu_background.png");
  background-repeat: round;
  height: 800px;
  width: 100%;
}
.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0 0 0;
}
.menu__item {
  position: relative;
  margin: auto 35px;
  width: 100px;
  font-family: Lato;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #4d4959;
}
.menu__logo {
  width: 170px;
}
.menu__logo img {
  margin: 0 auto 0 auto;
}
@media (max-width: 790px) {
  .menu__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: rgba(0, 0, 0, 0.9);
  }
  .menu__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 50px 0;
    position: relative;
    height: 94px;
    width: auto;
  }
  .menu__logo > img {
    position: absolute;
  }
  .menu__item {
    display: none;
    text-align: center;
    padding: 0 0 50px 0;
    font-size: 24px;
    width: auto;
    color: white;
  }
  .menu__burger {
    width: 30px;
    position: relative;
    background-color: black;
    height: 5px;
    margin: 0 25px 0 auto;
  }
  .menu__burger::after {
    content: "";
    width: 30px;
    position: absolute;
    background-color: inherit;
    height: 5px;
    top: -8px;
    left: 0;
  }
  .menu__burger::before {
    content: "";
    width: 30px;
    position: absolute;
    background-color: inherit;
    height: 5px;
    top: 8px;
    left: 0;
  }
  .menu__row.menu__active .menu__item {
    display: inline-block;
  }
}

.about-us__body {
  padding: 125px 0;
  margin: 0 250px;
}

.about-us__body * {
  padding: 0 0 20px 0;
}

.about-us__header {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  text-align: center;
}

.about-us__header::before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  margin: 50px auto 20px auto;
}

.about-us__header_frame::before {
  background: url("../img/frame.png") no-repeat;
}

.about-us__header_wheel::before {
  background: url("../img/wheel.png") no-repeat;
}

.about-us__header_seat::before {
  background: url("../img/seat.png") no-repeat;
}

.about-us__header_gears::before {
  background: url("../img/gears.png") no-repeat;
}

.about-us__text {
  font-family: Lato;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
  text-align: center;
}

.about-us__text_small {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  font-family: Lato;
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #848789;
  text-align: center;
}

.about-us__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-us__column {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__column > img {
  height: 100%;
}

img.about-us__inline-img {
  height: auto;
  margin-top: auto;
}

.about-us__column_small {
  width: 33%;
}

.about-us__column_medium {
  width: 66%;
}

.twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10% 0 10% 0;
}

.twitter > * {
  margin: 0 0 30px 0;
}

.twitter__header::before {
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  margin: 0 auto 30px auto;
  background: url("../img/twitter.png") no-repeat;
}

.twitter__header {
  font-family: Lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  text-align: center;
}

.twitter__header_time {
  font-weight: 300;
  color: #848789;
}

.twitter__text {
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.twitter-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}

.twitter-slider > * {
  margin: 0 10px 0 0;
}

.twitter-slider__circle {
  width: 12px;
  height: 12px;
  border: 1px solid #d8d8d8;
  display: inline-block;
  border-radius: 50%;
}

.show__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
  grid-template-columns: repeat(6, 1fr);
}

.show__grid img {
  height: 100%;
  width: 100%;
}

.show__wide {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}

.show__high {
  -ms-grid-row-span: 2;
  grid-row: 2 span;
}

.show_body {
  background: #292e35;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.show_button {
  border: 1px solid white;
  color: white;
  background-color: #292e35;
  width: 300px;
  margin: auto;
  height: 50px;
  font-family: Lato;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.mailing {
  padding: 120px 0;
}

.mailing * {
  margin: 0 0 40px 0;
}

.mailing__logo img {
  margin: 0 auto;
}

.mailing__text {
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.form-mailing {
  text-align: center;
}

.form-mailing__input {
  width: 400px;
  height: 69px;
  background-color: #ffffff;
  border: 1px solid #d3d7d9;
  font-family: Lato;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}

.form-mailing__button {
  font-family: Lato;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  text-transform: uppercase;
  border: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__text > *:nth-child(n+1) {
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  font-family: Lato;
}

.footer__text > *:first-child {
  font-family: Lato;
  font-size: 16px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
}

.footer__social__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social__networks img {
  width: 35px;
  height: 35px;
  margin: 0px 10px 0 0;
}

.footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Lato;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__credits > * {
  display: inline;
}