@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@font-face {
    font-family: 'Myriad Pro';
    src: url('../webfonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../webfonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: Lato;
}

.title{
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #000000;
    text-align: center;
}

.title_logo{
    width: 195px;
    height: 123px;
    background: url("../imgs/layer_33_copy_2_859.png");
    display: inline-block;
}

.hr{
    width: 81px;
    border-top: 1px solid #000;
    margin: 40px auto 40px auto;
}

.read-more{
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    background: none;
    border: 1px solid white;
    padding: 10px 20px;
    text-transform: uppercase;
}

.title_main {
    background: url("../imgs/bg_header_743.png") no-repeat;
    height: 1080px;
    color: #ffffff;
}
.title_main__body {
    height: 100%;
    text-align: center;
    padding: 100px 0 0 0;
}

.title_main__logo{
    width: 195px;
    height: 123px;
    background: url("../imgs/layer_33_copy_2_859.png");
    display: inline-block;
}

.title_main__header {
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin: 20% 0 20% 0;
}

.title__title {

}

.title_main__title_text {
    font-size: 26px;
    font-weight: 400;
    text-transform: none;
}
.title_main__button {
    color: white;
}
.about {
    color: #000;
    margin:0 0 150px 0;
}

.about__nav {
    margin: 15px 0 0 0;
}
.item-nav {
    display: flex;
    justify-content: center;
}

.item-nav__link {
    margin: 0 15px 0 15px;
    font-family: Lato;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: #3c3c3c;
}

.item-nav__link__a{
    text-decoration: none;
    color: #3c3c3c;
    text-transform: uppercase;
}

.item-nav__link__a:hover{
    color: #ada074;
}

.about__body {
    
}

.about__header {
    padding: 100px 0 0 0;
}

.about__title {
    
}

.about__hr{
    
}

.about__text {
    text-align: center;
    margin: 0 auto 0 auto;
    width: 700px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #868585;
}
.about__row {
    display: flex;
    justify-content: center;
    margin:100px 0;
}

.about__column {
    margin: 0 15px;
}
.item-about {
    width: 300px;
}
.item-about__icon {
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    width: 100px;
    margin: auto;
}

.item-about__icon__img{
    padding: 20px;
    margin: auto;
} 

.item-about__title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: #000000;
    text-transform: uppercase;
    padding: 25px 0;
    text-align: center;
}
.item-about__text {
    text-align: center;
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #868585;
    width:250px;
    margin: auto;
}
.portfolio {
    margin:100px 0;
}
.portfolio__body {
}
.portfolio__header {
}
.item-portfolio {
}
.item-portfolio__text {
}
.example-portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:auto;
    width: 75%;
}
.example-portfolio__item {
    background-color: #eaeaea;;
    width: 90%;
    height: 250px;
    margin:25px 25px;
}

.wrapper{
    text-align: center;
}

.example-portfolio__button {
    color:#000;
    border-color: #000;
}
.our-partners {
    background: url("../imgs/bg_header_copy_884.png"), no-repeat;
    background-position: bottom;
}

.our-partners__body {
    padding: 100px 0 0 0;
}
.our-partners__header {
    font-size: 30.4px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: 0.06em;
    color: #ffffff;
    text-align: center;
    padding: 0 0 100px 0;
}
.item-our-partner {
    display: flex;
    justify-content: center;
    padding: 0 0 100px 0;
}
.item-our-partner__icon {
    margin:auto 50px;
}

.contact {
}

.contact__body {
    margin-bottom: 100px;
}

.contact__header {
    margin: 100px 0 0 0;
}

.contact__wrapper {
    display: flex;
    margin: 115px 12.5% 0 12.5%;
}

.contact__wrapper > div {
    margin: 0 15px;
    width: 50%;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

.contact-form__wrapper_input{
    padding:0 0 100px 0;
}

.contact-form__input {
    border:none;
    border-bottom: 1px solid;
    width: 100%;
}

.contact-form__wrapper_input{
    
}

.contact-form__placeholder_input{
    line-height: 1;
    font-weight: 700;
}

.contact-form__big_cells{
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-from__button {
    border: none;
    background: none;
    text-align: end;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
}
.info-contact {
}

.info-contact > *{
    margin: 10px 0;
}


.info-contact > *:first-child{
    margin: 0;
}
.info-contact__text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    margin: 35px 0;
}

.info-contact__text:first-line{
    line-height: 1;
}

.bold {
    font-weight: 700;
}

.info-contact__border__icon{
    display: inline-block;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 5px;
}

.info-contact__border__icon:first-child{
    margin: 0 5px 0 0;
}

.fa-brands {
    margin: 0px 9px 5px 9px;
    font-size: 12px;
}

.footer {
    background-color: #3c3c3c;
    text-align: center;
}




.footer__body {
}

.footer__body > * {
    margin: 25px 0;
}

.item-footer {
}
.item-footer__text_a {
    text-transform: none;
    line-height: 1.2;
    font-weight: 400;
    color: #a4a4a4;
}
.footer__copyright {
    font-family: 'Myriad Pro';
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #6c6c6c;
    margin:0;
    padding:25px 0 50px 0;
}