@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: Lato;
}
.title_main {
    background: url("../imgs/bg_header_743.png") no-repeat;
    height: 1080px;
    color: #ffffff;
}
.title_main__body {
    height: 100%;
    text-align: center;
    padding: 100px 0 0 0;
}

.title_main__logo{
    width: 195px;
    height: 123px;
    background: url("../imgs/layer_33_copy_2_859.png");
    display: inline-block;
}

.title_main__header {
    font-size: 34px;
    line-height: 40px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    margin: 20% 0 20% 0;
}

.title__title {

}

.title_main__title_text {
    font-size: 26px;
    font-weight: 400;
    text-transform: none;
}
.title_main__button {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.06em;
    background: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
}
.about {
    height: 1080px;
    color: #000;
    text-align: center;
}

.about__nav {
    display: inline-block;
    margin: 15px 0 0 0;
}
.item-nav {
    display: flex;
}

.item-nav__link {
    margin: 0 15px 0 15px;
    font-family: Lato;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: #3c3c3c;
}

.item-nav__link__a{
    text-decoration: none;
    color: #3c3c3c;
    text-transform: uppercase;
}

.item-nav__link__a:hover{
    color: #ada074;
}

.about__body {
    
}

.about__header {
    padding: 100px 0 0 0;
}

.about__title {
    font-size: 34px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.16em;
    color: #000000;
}

.about__hr{
    width: 81px;
    border-top: 1px solid #000;
    margin: 15px auto 15px auto;
}

.about__text {
    margin:0 auto 0 auto;
    width: 700px;
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    color: #868585;
}
.about__row {
    display: flex;
    justify-content: center;
}

.about__column {
    margin: 0 15px;
}
.item-about {
    width: 300px;
}
.item-about__icon {
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    width: 100px;
    margin: auto;
}

.item-about__icon__img{
    padding: 20px;
    margin: auto;
} 

.item-about__title {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 0.16em;
    color: #000000;
    text-transform: uppercase;
    padding: 25px 0;
}
.item-about__text {
    font-size: 14px;
    line-height: 26px;
    font-weight: 300;
    color: #868585;
    width:250px;
    margin: auto;
}
.portfolio {
}
.portfolio__body {
}
.portfolio__header {
}
.item-portfolio {
}
.item-portfolio__text {
}
.example-portfolio {
}
.example-portfolio__item {
}
.example-portfolio__button {
}
.our-partners {
}
.our-partners__body {
}
.our-partners__header {
}
.item-our-partner {
}
.item-our-partner__icon {
}
.contact {
}
.contact__body {
}
.contact__header {
}
.contact__wrapper {
}
.contact-form {
}
.contact-form__name {
}
.contact-form_e-mail {
}
.contact-form__message {
}
.contact-from__button {
}
.info-contact {
}
.info-contact__text {
}
.bold {
}
.info-contact__icon {
}
.footer {
}
.footer__body {
}
.item-footer {
}
.item-footer__text {
}
.footer__copyright {
}