@import "normalize.scss";

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}





* {
    font-family: 'Proxima Nova Rg';
    font-size: 16px;
}

.container{
    background-color: rgba(245, 245, 245, 0.98);
}

.row{
    display: flex;
    justify-content: space-between;
}

.header {

    &__body {
        background: linear-gradient(to right,#232B39 40%,#000000 );
        padding:25px 40px 100px 15px
    }

    &__nav {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        margin: 120px 0 0 0;

        & > * {
            margin-bottom: 25px;
        }
    }

    &__headline {
        font-size: 35px;
        color:white;
        line-height: 1;
        font-weight: 600;
        &_red {
            font-size: 30px;
            color:#BF3D37;
            font-weight: normal;
        }
    }

    &__text {
        font-weight: 600;
        font-size: 30px;
        color: white;
    }

    &__img{
        filter:brightness(0.45);
        background: url("../imgs/jellyfish.png") no-repeat right;
        flex-grow: 1;
        margin-left: auto;
        height: 460px;
    }
}
.logo {
    width: 90px;
    height: 90px;
}
.header-menu {
    display: flex;
    &__item {
        color:white;
        font-size: 16px;
        font-weight: 600;
        margin-left:40px;
    }

}

.vertical-line{
    margin-right:calc(50% - 133px);
    float:right;
    animation: vertical-line 3s forwards;
    border: none;
    border-bottom: #000000 3px solid;
    &_red{
        border-bottom: 3px solid #BF3D37;
        
    }
}

@keyframes vertical-line{
    0%{
        width: 0px;
    }

    100%{
        width: 266px;
    }
}

.scroll-down{
    display: flex;
    justify-content: center;
}

.my-name {

    &__body {
        padding:25px 15px 0 30px;
    }

    &__photo {
        margin-top:50px;
        border:3px solid #000;
        background:url("../imgs/dotted.png");
        width: 426px;
        height: 647px;
        & img{
            transform: translate(-15px, -15px);
        }
    }

    &__row{
        justify-content: center;

        & > *{
            margin-right: 100px;
        }

        & > *:last-child{
            margin-right: 0px;
        }
    }

    &__content {
        max-width: 570px;
    }

    &__header {
        font-size: 24px;
        font-weight: 400;
    }

    &__text {
        & > p {
            margin-top: 12px;
            line-height: 16px;
        }
    }

    &__button {
        background-color: #BF3D37;
        color: white;
        padding:15px 50px;
        text-transform: uppercase;
        border: none;
        border-radius: 12px;
        font-weight: 400;
        margin-top: 20px;
        font-weight: 600;
    }
}

.horizontal-line{
    height: 100px;
    border: none;
    border-left:3px solid #BF3D37;
    animation: horizontal-line 3s forwards;
    margin:0px 0 30px 100px;

    &_center{
        margin-left:calc(50% - 2px);
    }
}

@keyframes horizontal-line{
    0%{
        height:0px;

    }
    100%{

    }
}

.services {

    &__body {
    }

    &__headline {

    }

    &__row {
        justify-content: center;
        flex-wrap: wrap;
        & > *{
            margin-right: 15px;
        }
    }
}
.headline {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.service-item {
    background: #fff;
    padding: 25px 15px;
    width: 360px;
    min-width: 270px;
    margin-bottom:20px;
    &__healine {
        font-weight: 600;
        font-size: 22px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::before{
            content: '';
            border-left:#BF3D37 3px solid;
            margin-right: 15px;
            display: inline-block;
            height: 27px;
        }
    }

    &__text {
        font-size: 20px;
    }
}
.portfolio {

    &__body {
    }

    &__text {
        text-align: center;
        color: #000;
        font-size: 18px;
        font-weight: 600;
        margin: 20px 0 20px 0;
    }
}
.porfolio {

    &__headline {
    }
}
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin:40px 0 0 20px;
    &__case {
        margin:0 20px 20px 0;
        height: 200px;
        position: relative;
        & img{
            object-fit: contain;
            object-position: 10px 10px;
            height: 100%;
        }

        & img:hover{
            margin-top: 10px;
            object-position: 10px 0;
            object-fit: fill;
            transition: 1s filter;
            filter: brightness(0.55);
            position: relative;

        }

        &:hover .portfolio-grid__figcaption{
            display: block;
            left:45px;
            top:165px;
            color: white;
            text-transform: uppercase;
            border-left: white 4px solid;
            padding-left: 15px;
            line-height: 1.25;
            font-size: 12px;
        }
    }

    &__figcaption{
        position: absolute;
        display: none;
    }

}
.footer {

    &__body {
    }

    &__row {
    }

    &__headline {

        &_red {
        }
    }
}
.footer-item {
}
.contact-us {

    &__input {
    }

    &__button {
    }
}
.contact {

    &__headline {
    }

    &__tel {
    }

    &__mail {
    }

    &__text {
    }
}
.social-media {

    &__facebook {
    }

    &__instagramm {
    }

    &__vk {
    }
}
.copyright {

    &__text {

        &_red {
        }
    }
}
