@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background: #F6F8FA;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
}

.headline {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 48px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px;
  color: #242121;
}
.headline::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
}
@media (max-width: 600px) {
  .headline {
    font-size: 32px;
  }
}

.text {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #373A39;
}

.header__top-body {
  padding: 26px 53px 40px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  background: url("../img/Header-bg.webp");
  background-size: cover;
  height: 660px;
  padding: 240px 0 70px 0;
}
.header__content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__hamburger {
  display: none;
}
.header__content-headline {
  font-size: 100px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.header__content-text {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  color: #FCBB08;
  letter-spacing: 2.74286px;
  text-align: center;
  text-transform: uppercase;
}
.header__content-scroll {
  width: 20px;
  height: 35px;
  margin: auto auto 0 auto;
}
@media (max-width: 780px) {
  .header__top-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo-wrapper {
    margin-bottom: 20px;
  }
}
@media (max-width: 580px) {
  .header__menu-wrapper {
    display: none;
  }
  .header__menu-wrapper--visibility {
    display: block;
  }
  .header__logo-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }
  .header__hamburger {
    display: inline-block;
  }
  .header__content-headline {
    font-size: 75px;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__li {
  text-transform: uppercase;
  margin-right: 50px;
  font: 700 12px "Raleway";
  text-align: center;
}
.header-menu__li:last-child {
  margin-right: 0px;
}
.header-menu__li--selected {
  border-bottom: 2px solid #FCBB08;
  padding: 0 7px 7px 7px;
}
@media (max-width: 580px) {
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu__li {
    font-size: 40px;
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.about__body {
  padding: 143px 20px 255px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__body > * {
  margin-right: 133px;
}
.about__body > *:last-child {
  margin-right: 0px;
}
.about__content {
  max-width: 770px;
}
@media (max-width: 800px) {
  .about__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.expertise__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 20px;
}
.expertise__content {
  max-width: 600px;
}
.expertise__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.expertise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1100px) {
  .expertise__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    padding-top: 25px;
  }
  .expertise__content {
    margin-top: 25px;
  }
}

.horizontal-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.horizontal-charts__line {
  width: 370px;
  height: 2px;
  background-color: #F0F0F0;
  position: relative;
  margin-bottom: 4px;
}
.horizontal-charts__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  text-transform: uppercase;
}
.horizontal-charts__percent {
  position: absolute;
}
.horizontal-charts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.horizontal-charts > * {
  margin-bottom: 28px;
}
.horizontal-charts > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 1100px) {
  .horizontal-charts__item {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 500px) {
  .horizontal-charts__line {
    width: 200px;
  }
}

.expertise-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 10px 0 10px;
}
.expertise-item__img {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}
.expertise-item__content {
  max-width: 285px;
  margin-right: 50px;
}
.expertise-item__content:last-child {
  margin-right: 0;
}
.expertise-item__headline {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.2875px;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}
.expertise-item__text {
  color: #777777;
}

.features {
  margin-top: 50px;
}
.features__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__img {
  max-width: 705px;
  max-height: 840px;
}
.features__content {
  margin: 103px 0 100px 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 460px;
}
.features__headline {
  margin-bottom: 75px;
}
@media (max-width: 1100px) {
  .features__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features__img {
    margin: 0 auto;
  }
  .features__content {
    margin: 50px auto 0 auto;
  }
}

.portfolio__headline {
  margin: 0 auto;
}
.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__grid {
  display: -ms-grid;
  display: grid;
  max-width: 1440px;
  margin: 120px auto 115px auto;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[9];
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
}
.portfolio__grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(17) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(18) {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(19) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(20) {
  -ms-grid-row: 5;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(21) {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(22) {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(23) {
  -ms-grid-row: 6;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(24) {
  -ms-grid-row: 6;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(25) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(26) {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(27) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(28) {
  -ms-grid-row: 7;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(29) {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(30) {
  -ms-grid-row: 8;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(31) {
  -ms-grid-row: 8;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(32) {
  -ms-grid-row: 8;
  -ms-grid-column: 4;
}
.portfolio__grid > *:nth-child(33) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
.portfolio__grid > *:nth-child(34) {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
}
.portfolio__grid > *:nth-child(35) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.portfolio__grid > *:nth-child(36) {
  -ms-grid-row: 9;
  -ms-grid-column: 4;
}
.portfolio__content-grid {
  left: 0;
  top: 0;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  font-family: "Open Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__header-grid {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.portfolio__subheader-grid {
  font-weight: 300;
  font-size: 12px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.portfolio__img-grid {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}
.portfolio__grid-item {
  min-height: 343px;
  max-height: 523px;
  width: 293px;
  margin: 0 22px 22px 0;
  background-color: #EDEDED;
  -ms-grid-row-span: 3;
  grid-row-end: span 3;
  position: relative;
  z-index: 0;
  border: solid 10px #EDEDED;
}
.portfolio__grid-item_rows-4 {
  -ms-grid-row-span: 4;
  grid-row-end: span 4;
}
.portfolio__grid-item_rows-5 {
  -ms-grid-row-span: 5;
  grid-row-end: span 5;
}
.portfolio__grid-item_rows-6 {
  -ms-grid-row-span: 6;
  grid-row-end: span 6;
}
.portfolio__grid-item:hover {
  border: 10px solid #666363;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.portfolio__grid-item:hover > .portfolio__content-grid {
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
  background: rgba(76, 73, 73, 0.7);
}
.portfolio__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.portfolio__more-project {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #242121;
  border: none;
  background: none;
  text-transform: uppercase;
  margin-bottom: 180px;
}
.portfolio__quote {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  color: #242121;
  margin-bottom: 65px;
}
.portfolio__quote-author {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #9E9E9E;
  margin-bottom: 160px;
}
.portfolio__video-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.portfolio__video {
  width: 50%;
}
.portfolio__mertics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 164px 0 194px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .portfolio__grid {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 950px) {
  .portfolio__grid {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 730px) {
  .portfolio__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .portfolio__grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .portfolio__grid-item {
    margin: 0 auto 50px auto;
  }
  .portfolio__grid-item_rows-4 {
    -ms-grid-row-span: auto;
    grid-row-end: auto;
  }
  .portfolio__grid-item_rows-5 {
    -ms-grid-row-span: auto;
    grid-row-end: auto;
  }
  .portfolio__grid-item_rows-6 {
    -ms-grid-row-span: auto;
    grid-row-end: auto;
  }
}

.portfolio-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}
.portfolio-menu__item {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 45px;
  color: #333;
}
.portfolio-menu__item--selected {
  border-bottom: 2px #FCBB08 solid;
  padding: 0 4px 4px 4px;
}

.metric-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 100px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.metric-item__number {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  color: #242121;
}
.metric-item__text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 19px;
  color: #00B2A0;
}

.slider {
  position: relative;
  padding: 307px 0px 105px 133px;
}
.slider__forward {
  width: 50px;
  position: absolute;
  left: calc(100% - 25px);
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  top: 390px;
}
.slider__back {
  width: 50px;
  position: absolute;
  left: 0;
  top: 390px;
}
.slider__item {
  display: none;
}
.slider__item:first-child {
  display: inline-block;
}
.slider__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 700px;
}
.slider__headline {
  max-width: 30em;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #242121;
  margin-bottom: 25px;
}
.slider__text {
  max-width: 50em;
}
.slider__control-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 30em;
}
.slider__page {
  margin-bottom: 25px;
  width: 6px;
  height: 6px;
  background: #242121;
  opacity: 0.4;
  border-radius: 50%;
  margin-right: 13px;
}
.slider__page--active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
@media (max-width: 900px) {
  .slider {
    padding-left: 10px;
    padding-right: 10px;
  }
  .slider__forward {
    display: none;
  }
  .slider__back {
    display: none;
  }
}

.team__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team__item {
  max-width: 520px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.team__item:last-child {
  margin-right: 0;
}
.team__img {
  margin-top: 105px;
}
.team__name {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #333333;
  margin-top: 35px;
}
@media (max-width: 1200px) {
  .team__headline {
    width: 8em;
    margin: 0 auto;
  }
}
@media (max-width: 680px) {
  .team__item {
    margin-right: 0;
  }
}

.pricing__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 93px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.pricing__item {
  background: #fff;
  width: 350px;
  margin: 0 33px 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.pricing__headline {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #242121;
  margin: 24px 0 0 25px;
}
.pricing__price {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 80px;
  line-height: 109px;
  text-align: center;
  color: #242121;
  margin-bottom: 103px;
}
.pricing__price::after {
  content: "/mo";
  font-size: 20px;
  line-height: 27px;
}
.pricing__price::before {
  content: "$";
  font-size: 40px;
  vertical-align: super;
}
.pricing__feature {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #242121;
  margin-bottom: 52px;
}
.pricing__button {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #242121;
  border: none;
  background: none;
  text-transform: uppercase;
  margin: 53px 0 53px 0;
}
@media (max-width: 1200px) {
  .pricing__headline-h2 {
    width: 8em;
    margin: 0 auto;
  }
}
@media (max-width: 680px) {
  .pricing__item {
    margin-right: 0;
  }
}

.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact__map {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.contact__map-wrapper {
  position: relative;
  overflow: hidden;
  height: 896px;
  max-width: 635px;
  width: 80%;
}
.contact__map-iframe {
  height: 100%;
  width: 100%;
  position: relative;
}
.contact__contain {
  width: 570px;
  padding: 145px 10px 0 10px;
}
@media (max-width: 1100px) {
  .contact__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contact__contain {
    padding: 145px 10px 0 10px;
  }
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-form__input {
  border: none;
  background: none;
  border-bottom: 2px solid #373A39;
  background: none;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 20px;
  color: #BB8;
  padding: 32px 0 18px 0;
}
.contact-form__input::-webkit-input-placeholder {
  font-size: 12px;
  letter-spacing: 3.70909px;
}
.contact-form__input::-moz-placeholder {
  font-size: 12px;
  letter-spacing: 3.70909px;
}
.contact-form__input:-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 3.70909px;
}
.contact-form__input::-ms-input-placeholder {
  font-size: 12px;
  letter-spacing: 3.70909px;
}
.contact-form__input::placeholder {
  font-size: 12px;
  letter-spacing: 3.70909px;
}
.contact-form__textarea {
  border: none;
  background: none;
  border-bottom: 2px solid #373A39;
  font-family: "Open Sans";
  font-size: 24px;
  line-height: 20px;
  color: #B8B8B8;
  padding: 32px 0 18px 0;
  height: 156px;
}
.contact-form__textarea[placeholder] {
  font-size: 12px;
  letter-spacing: 3.70909px;
}
.contact-form__button {
  background: #242121;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 2px;
  width: 230px;
  height: 45px;
  color: #FFFFFF;
  margin-top: 40px;
}
@media (max-width: 1000px) {
  .contact-form__button {
    margin: 50px auto;
  }
}

.footer {
  background: #373A39;
}
.footer__body {
  padding: 110px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 692px;
  margin: 0 auto;
}
.footer__logo-wrapper {
  margin: 0 auto 26px auto;
}
.footer__hr {
  width: 150px;
  border: #FCBB08 1px solid;
  margin: 0 auto 72px auto;
}
.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 65px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__item {
  margin-right: 15px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #A8A8A8;
  margin-bottom: 126px;
}
.footer__copyright {
  text-align: center;
  padding: 43px 0 41px 0;
  background: #2A2C2B;
  font-family: "Open Sans";
  font-size: 12px;
  color: #CCCCCC;
}