@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: 1180px;
  margin: 0 auto;
}

.headline {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 75px;
  display: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 4px;
}
.headline::after {
  content: "";
  width: 60px;
  height: 4px;
  background-color: #FCBB08;
}

.text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #373A39;
}

.header__top-body {
  padding: 26px 53px 40px 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__content {
  background: url("../img/Header-bg.png");
  background-size: cover;
  height: 660px;
  padding: 240px 0 70px 0;
}
.header__content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header__content-headline {
  font-size: 100px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.header__content-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #FCBB08;
  letter-spacing: 2.74286px;
  text-align: center;
  text-transform: uppercase;
}
.header__content-scroll {
  width: 20px;
  height: 35px;
  margin: auto auto 0 auto;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__li {
  text-transform: uppercase;
  margin-right: 50px;
  font: 700 12px "Raleway";
}
.header-menu__li:last-child {
  margin-right: 0px;
  padding: 0 7px 9px 7px;
}
.header-menu__li_selected {
  border-bottom: 2px solid #FCBB08;
}
.about__body {
  padding: 143px 0 255px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__body > * {
  margin-right: 133px;
}
.about__body > *:last-child {
  margin-right: 0px;
}
.about__content {
  max-width: 770px;
}
.expertise__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.expertise__content {
  max-width: 600px;
}
.expertise__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.expertise__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 125px;
}

.horizontal-charts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.horizontal-charts__line {
  width: 370px;
  height: 2px;
  background-color: #F0F0F0;
  position: relative;
  margin-bottom: 4px;
}
.horizontal-charts__text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #1D1D1D;
  text-transform: uppercase;
}
.horizontal-charts__percent {
  position: absolute;
}
.horizontal-charts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.horizontal-charts > * {
  margin-bottom: 28px;
}
.horizontal-charts > *:last-child {
  margin: 0;
}

.expertise-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.expertise-item__img {
  width: 50px;
  height: 50px;
  margin-right: 40px;
}
.expertise-item__content {
  max-width: 285px;
  margin-right: 50px;
}
.expertise-item__content:last-child {
  margin-right: 0;
}
.expertise-item__headline {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 4.2875px;
  text-transform: uppercase;
  margin: 0 0 18px 0;
}
.expertise-item__text {
  color: #777777;
}