@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap');
*{
	font-family: "Open Sans";
}
.container {
}
.header {
    display: flex;
    justify-content: space-between;
    padding:25px 100px; 

		&__logo {
		}

		&__burger {
            width: 24px;
            height: 4px;
            background-color: #342e2e;
            margin: auto 0;
            position: relative;
		}

        &__burger::after {
            content: "";
            position: absolute;
            top: -9px;
            width: inherit;
            height: inherit;
            background-color: inherit;
		}
        &__burger::before {
            content: "";
            position: absolute;
            top: 9px;
            width: inherit;
            height: inherit;
            background-color: inherit;
		}
}
.hi {
    background: url("../img/author.jpg") 20% 0%, url("../img/hi-fond.jpg");
    background-size: 500px auto;
    background-repeat: no-repeat, repeat;
    height: 552px;
	display: flex;
		&__body {
            margin: 100px 25px 0 55%;
			height: 492px;
			width: 437px;
		}

		&__header {
			font-size: 4.0625rem;
			font-family: "Oswald";
			letter-spacing: normal;
			padding:10px 0 10px 15px;
			background-color: white;
			text-transform: uppercase;
			font-weight: 700;
		}

		&__text {
			line-height: 1;
			padding:10px 0;
			font-family: "Montserrat";
			font-size: 46px;
		}

		&__image-from{
			font-size: 16px;
			letter-spacing: 6px;
			text-transform: uppercase;

			&_a{
				color:black;
				font-weight: 700;
				text-decoration-line: none;
    			border-bottom: 1px solid;
			}
		}

		&__button {
			width: 237px;
			font-size: 16px;
			background-color: white;
			text-transform: uppercase;
			letter-spacing: 4px;
			padding: 10px 0;
			font-weight: 800;
			margin-top: 30px;
		}
}
.profile {

		&__body {
		}

		&__header {
		}
}
.row {
}
.item-profile {

		&__header {
		}

		&__text {
		}

		&__image {
		}

		&__social-media {
		}
}
.text {
}
.idea {

		&__body {
		}

		&__header {
		}

		&__text {
		}

		&__button {
		}
}
.capabilities {

		&__body {
		}

		&__header {
		}

		&__text {
		}
}
.item-capabilities {

		&__header {
		}

		&__ul {
		}

		&__li {
		}
}
.spanish {

		&__body {
		}

		&__text {
		}
}
.column {
}
.item-sample {

		&__logo {
		}

		&__headline {
		}

		&__text {
		}
}
.branding {

		&__body {
		}

		&__row {
		}
}
.item-branding {

		&__count {
		}

		&__header {
		}

		&__text {
		}

		&__learn-more {
		}
}
.mockup {

		&__body {
		}
}
.item-mockup {

		&__img {
		}

		&__text {
		}
}
.mockup-more {
}
.brands {

		&__body {
		}

		&__header {
		}

		&__text {
		}

		&__button {
		}
}
.brands-grid {

		&__img {
		}
}
.get-in-touch {

		&__body {
		}

		&__text {
		}

		&__input {
		}

		&__textarea {
		}

		&__button {
		}
}
.get-in-touch-item {

		&__header {
		}

		&__text {
		}

		&__social-media {
		}

		&__header-2 {
		}

		&__ul {
		}
}
.get-in-touch-form {
}
.footer {

		&__body {
		}

		&__text {
		}

		&__copylink {
		}
}
