@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;700&family=Oswald:wght@300;400;500;700&display=swap');
*{
	font-family: "Open Sans";
	font-size: 16px;
}

.button-read-more{
	width: 237px;
	font-size: 16px;
	background-color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding: 10px 0;
	font-weight: 800;
	margin-top: 30px;
}
.column {
	display: flex;
	flex-direction: column;
}
a{
	text-decoration-line: none;
    border-bottom: 1px solid;
	color:inherit;
}
.row {
	display: flex;
}

.headline{
	font-size: 40px;
	font-family: "Oswald";
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
}

.container > *:nth-child(2n) {
	background: url("../img/hi-fond.jpg");
}

.container > * > *{
	max-width: 1140px;
	margin:0 auto;
}



.header {
     
		&__body{
			display: flex;
		justify-content: space-between;
		padding:25px 100px;
		}

		&__logo {
		}

		&__burger {
            width: 24px;
            height: 4px;
            background-color: #342e2e;
            margin: auto 0;
            position: relative;
		}

        &__burger::after {
            content: "";
            position: absolute;
            top: -9px;
            width: inherit;
            height: inherit;
            background-color: inherit;
		}
        &__burger::before {
            content: "";
            position: absolute;
            top: 9px;
            width: inherit;
            height: inherit;
            background-color: inherit;
		}
}
.hi {
    background: url("../img/author.jpg") 20% 0%, url("../img/hi-fond.jpg");
    background-size: 500px auto;
    background-repeat: no-repeat, repeat;
    height: 552px;
	display: flex;
		&__body {
            margin: 100px 25px 0 55%;
			height: 492px;
			width: 437px;
		}

		&__header {
			font-size: 4.0625rem;
			font-family: "Oswald";
			letter-spacing: normal;
			padding:10px 0 10px 15px;
			background-color: white;
			text-transform: uppercase;
			font-weight: 700;
		}

		&__text {
			line-height: 1;
			padding:10px 0;
			font-family: "Montserrat";
			font-size: 46px;
		}

		&__image-from{
			font-size: 16px;
			letter-spacing: 6px;
			text-transform: uppercase;

			&_a{
				color:black;
				font-weight: 700;
			}
		}

		&__button {
			
		}
}
.profile {

		&__body {
			max-width: 1140px;
			margin: 0 auto;
			width: 80%;
		}

		&__subheadline {
			text-align: center;
    		margin-bottom: 75px;
			font-size: 20px;
			margin-bottom: 75px;
		}

}

.item-profile {
	width: 100%;
	margin-right: 25px;
		&__header {
			font-family: 'Oswald';
    		font-size: 25px;
		}

		&__text {
			margin-top: 20px;
		}
		
		&__text_justify {
			text-align: justify;
			padding-right: 15px;
		}

		&__text_line-height-2 {
			line-height: 2;
		}

		&__image-by{
			margin-top: 20px;
			color:#555c66;
		}
		&__image{
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
		&__image img{
			text-align: center;
			margin: 0 auto;
			height: 240px;
			width: 240px;
			border-radius: 50%;
		}

		&__text_bold{
			font-weight: 700;
		}

		&__social-media {
			display: flex;
			margin-top: 20px;
		}
		&__social-media > *{
			width: 20px;
			height: 20px;
			margin-right: 8px;
		}
}

.item-profile:last-child{
	margin-right: 0;
}

.text {
}

.idea {
	&__body {
		padding: 30px 0;
	}

	&__row{
		justify-content: center;
	}

	&__item {
		
	}

	&__item:first-child {
		width: 260px;
	}

	&__header {
		text-align: center;
	}

	&__subheadline {
		text-align: center;
		font-family: 'Oswald';
		font-size: 20px;
		font-weight: 300;
		margin-top:30px;
	}

	&__text {
		margin-top:30px;
		text-align: center;
	}

	&__button {
		margin-top:30px;
		width: 240px;
		margin:30px auto;
		text-align: center;
	}

	&__img {
		background: url("../img/idea.jpg");
		background-size: cover;
		height: 100%;
		width: 300px;
	}
}


.capabilities {

		&__body {
			margin:50px auto;
		}

		&__header {
		}

		&__text {
			color:#111;
			max-width: 675px;
			text-align: center;
			margin: 20px auto;
		}
}
.item-capabilities {
		width: 100%;
		background-color: rgb(242, 242, 242);
		padding: 25px 15px 50px 20px;
		margin-right: 15px;
		&__header {
			font-size: 24px;
			font-family: "Oswald";
			font-weight: 500;
			margin-bottom: 20px;
		}

		&__ul {
		}

		&__li {
			font-size: 20px;
		}

		&__li::before {
			content: "---";
			color: #111;
			letter-spacing: -2px;
			display: inline-block;
			width: 25px;
			height: 30px;
		}
}
.spanish {
	height: 670px;
		&__body {
			margin:0;
		}
}
.spanish-item{
	width: 100%;
	&__img{
		width: 100%;
		height: 670px;
		background: url("../img/spanish.jpg");
		background-size: cover;
	}
}
.item-sample {
	&:first-child{
		padding-top: 50px;
	}
	display: grid;
	grid-template-columns: 110px 1fr;
	padding-top: 25px;
		&__logo {
			height: 65px;
			width: 65px;
			background-color: white;
			border: 1px solid black;
			border-radius: 50%;
			padding:15px;
			grid-row-start: span 2;
			& img{
				width: 31px;
				margin: auto;
			}
			&_idea{
				transform: matrix(-1, 0, 0, 1, 0, 0);
			}
		}

		&__headline {
			font-weight: 700;
			font-size: 20px;
			margin-bottom: 15px;
			font-family: "Oswald";
		}

		&__text {
			width: 280px;
		}

		&__text_copyright{
			text-align: end;
			margin-top: auto;
			width: 410px;
			margin-bottom: 50px;
		}
}
.branding {
	background: url("../img/branding.jpg");
	background-size: cover;
		&__body {
			height: 835px;
			padding-top: 338px;
		}

		&__row {
			justify-content: center;
		}

		&__copyright{
			text-align: center;
			margin-top: 30px;
			& a {
				border-bottom: 2px solid #fdd460;
			}
		}
}
.item-branding {
	background-color: #fdd460;
	margin-left: 25px;
	height: 380px;
	padding: 25px 20px;
	max-width: 215px;
	& > * {
		margin-bottom: 20px;
	}
		&__count {
			font-size: 48px;
			font-family: "OSWALD";
			border: 2px solid black;
			border-radius: 50%;
			width: 77px;
			height: 77px;
			padding-left: 13px;
    		background: white;
		}

		&__header {
			font-size: 20px;
			font-family: "Oswald";
			font-weight: 700;
		}

		&__text {
			font-size: 14px;
			font-style: italic;
		}

		&__learn-more {
			letter-spacing: 1px;
			font-weight: 700;
			text-transform: uppercase;
		}
}
.mockup {

		&__body {
		}
}
.item-mockup {

		&__img {
		}

		&__text {
		}
}
.mockup-more {
}
.brands {

		&__body {
		}

		&__header {
		}

		&__text {
		}

		&__button {
		}
}
.brands-grid {

		&__img {
		}
}
.get-in-touch {

		&__body {
		}

		&__text {
		}

		&__input {
		}

		&__textarea {
		}

		&__button {
		}
}
.get-in-touch-item {

		&__header {
		}

		&__text {
		}

		&__social-media {
		}

		&__header-2 {
		}

		&__ul {
		}
}
.get-in-touch-form {
}
.footer {

		&__body {
		}

		&__text {
		}

		&__copylink {
		}
}
