@import "normalize.scss";
body{
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    background-color: #445063;
}

.body{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    align-items: center;
}
.header__body {
    
}

.container{
	max-width: 1180px;
	margin: 0px auto;
}

.hi {
    display: flex;
    flex-direction: column;
}

.hi__header {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    margin:0 0 35px 0;
}

.hi__items {
}

.hi__items li {
    display: flex;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    background: url("../img/check.png") no-repeat;
    padding: 0 0 0 30px;
    background-position: 0 5px;
}

.header__img {
    width: 469px;
    height: 214px;
}
.about {
    background: #f5f5f5;
}
.about__body {
    align-items: flex-start;
    gap:45px;
}
.about__img {

}

.about__img img{
    max-width: none;
}

.about__info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.header-text{
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

.about__header {
}
.about__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    gap: 35px;
    display: flex;
    flex-direction: column;
}
.scrinshots {
    background: #f5f5f5;
}
.scrinshots__body {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.scrinshots__body> * {
    margin-bottom: 35px;
}

.scrinshots__body> *:last-child {
    margin-bottom: 35px;
}

.scrinshots__header {
    text-align: center;
}
.scrinshots__row {
    display: flex;
    flex-wrap: wrap;
}




.item-scrinshoots {
    display: grid;
    grid-template-areas: 
    "I H"
    "I P";
    gap: 25px;
    width: 45%;
    width: calc(50% - 15px);
    margin: 0 15px 35px 0;
}
.item-scrinshoots__img {
    grid-area:I;
    background-color: #333333;
    width: 150px; 
}
.item-scrinshoots__header {
    grid-area:H;
}
.item-schrinshoots__text {
    grid-area:P;
}
.buy {
    background-color: #fffefe;
}
.buy_body {
    padding: 50px 50px;
}
.buy__header {
    text-align: center;
    margin:0 0 40px 0;
}

.buy__row{
    display: flex;
    justify-content: space-around;
}

.item-buy{
    display: flex;
    flex-direction: column;
    background-color: #445063;
    width: 300px;
}

.item-buy__header {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    padding:15px 0px;
    text-align: center;
}
.item-buy__header_white {
    background-color: #ffffff;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    padding:20px 0px;
    text-align: center;
    margin: 0 2px;
}
.item-buy__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    padding:15px 35px 0 20px;
}

.item-buy__text > * {
    margin-bottom: 25px;
}


.item-buy__button {
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    margin:auto 20px 20px 20px;
    padding:20px 70px;
}
.footer {
    background-color: #f5f5f5;
    padding: 25px 0;
}
.footer__text {
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    text-align: center;
}