@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
.wrapper {
}
.container {
}
.menu {
    background: url("../img/menu_background.png");
    background-repeat: round;
    height: 800px;
    width: 100%;
    padding: 40px 0 0 0;
}
.menu__row {
    display: flex;
    justify-content: center;
    
}


.menu__logo {
    position: absolute;
}

.menu__item {
    position: relative;

}

.menu__row .menu__item{
    margin: auto 35px;
    width: 100px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959;
}


.about-us {
}



.about-us__body {
    padding: 125px 0;
    margin: 0 250px;
}

.about-us__body * {
    padding: 0 0 20px 0;
}

.about-us__header {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    text-align: center;
}

.about-us__header::before{
    display: block;
    content: '';
    background: url("../img/gears.png") no-repeat;
    width: 50px;
    height: 50px;
    margin: 50px auto 20px auto;
}



.about-us__header_frame::before{
    background: url("../img/frame.png") no-repeat;
}

.about-us__header_wheel::before {
    background: url("../img/wheel.png") no-repeat;
}

.about-us__header_seat::before {
    background: url("../img/seat.png") no-repeat;
}

.about-us__header_gears::before{
    background: url("../img/gears.png") no-repeat;
}

.about-us__text {
    font-family: Lato;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    text-align: center;
}

.about-us__text_small {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    font-family: Lato;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: #848789;
    text-align: center;
}

.about-us__row {
    display: flex;
    flex-wrap: wrap;
}

.about-us__column {
    height: 600px;
    display: flex;
    flex-direction: column;
}

.about-us__column > img {
    height: 100%;
}

img.about-us__inline-img{
    height: auto;
    margin-top: auto;
}

.about-us__column_small{
    width: 33%;
}

.about-us__column_medium{
    width: 66%;
}








.about-us__vintage {
}
.about-us__since {
}

.about-us__bike {
}
.twitter {
}
.twitter__twitter-icon {
}
.twitter__header {
}
.twitter__text {
}
.twitter__slider {
}
.show {
}
.show__row {
}
.icon1 {
}
.icon2 {
}
.icon3 {
}
.icon4 {
}
.icon5 {
}
.icon6 {
}
.icon7 {
}
.icon8 {
}
.show_body {
}
.show_button {
}
.mailing {
}
.mailing__logo {
}
.mailing__text {
}
.form-mailing {
}
.form-mailing__input {
}
.form-mailing__button {
}
.footer {
}
.footer__text {
}
.footer__social__networks {
}
.footer__credits {
}