@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
.wrapper {
}
.container {
}
.menu {
    background: url("../img/menu_background.png");
    background-repeat: round;
    height: 800px;
    width: 100%;
    padding: 40px 0 0 0;
}
.menu__row {
    display: flex;
    justify-content: center;
    
}


.menu__logo {
    position: absolute;
}

.menu__item {
    position: relative;

}

.menu__row .menu__item{
    margin: auto 35px;
    width: 100px;
    font-family: Lato;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #4d4959;
}


.about-us__body {
    padding: 125px 0;
    margin: 0 250px;
}

.about-us__body * {
    padding: 0 0 20px 0;
}

.about-us__header {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #353738;
    text-align: center;
}

.about-us__header::before{
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    margin: 50px auto 20px auto;
}



.about-us__header_frame::before{
    background: url("../img/frame.png") no-repeat;
}

.about-us__header_wheel::before {
    background: url("../img/wheel.png") no-repeat;
}

.about-us__header_seat::before {
    background: url("../img/seat.png") no-repeat;
}

.about-us__header_gears::before{
    background: url("../img/gears.png") no-repeat;
}

.about-us__text {
    font-family: Lato;
    font-size: 18px;
    line-height: 34px;
    font-weight: 400;
    color: #848789;
    text-align: center;
}

.about-us__text_small {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    font-family: Lato;
    font-size: 16px;
    line-height: 29px;
    font-weight: 400;
    color: #848789;
    text-align: center;
}

.about-us__row {
    display: flex;
    flex-wrap: wrap;
}

.about-us__column {
    height: 600px;
    display: flex;
    flex-direction: column;
}

.about-us__column > img {
    height: 100%;
}

img.about-us__inline-img{
    height: auto;
    margin-top: auto;
}

.about-us__column_small{
    width: 33%;
}

.about-us__column_medium{
    width: 66%;
}

.twitter {
    display: flex;
    flex-direction: column;
    padding: 10% 0 10% 0;
}

.twitter > * {
    margin: 0 0 30px 0;
}

.twitter__header::before{
    display: block;
    content: '';
    width: 30px;
    height: 30px;
    margin: 0 auto 30px auto;
    background: url("../img/twitter.png") no-repeat;
}

.twitter__header {
    font-family: Lato;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #353738;
    text-align: center;
}

.twitter__header_time{
    font-weight: 300;
    color: #848789;
}

.twitter__text {
    font-family: Lato;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
    text-align: center;
    margin:0 auto;
    width: 80%;
}
.twitter-slider {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.twitter-slider > * {
    margin: 0 10px 0 0;
}

.twitter-slider__circle{
    width: 12px;
    height: 12px;
    border: 1px solid #d8d8d8;
    display: inline-block;
    border-radius: 50%;
}

.show {
}

.show__grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.show__grid img {
    height: 100%;
    width: 100%;
}

.show__wide{
    grid-column: 2 span;
}

.show__high{
    grid-row: 2 span;
}

.show_body {
    background: #292e35;
    height: 200px;
    display: flex;
}

.show_button {
    border: 1px solid white;
    color: white;
    background-color: #292e35;
    width: 300px;
    margin:auto;
    height: 50px;
    font-family: Lato;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

.mailing {
    padding: 120px 0;
}

.mailing *{
    margin:0 0 40px 0;
}

.mailing__logo img{
    margin:0 auto;
}


.mailing__text {
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    font-style: italic;
    color: #848789;
}
.form-mailing {
    text-align: center;
}
.form-mailing__input {
    width: 400px;
    height: 69px;
    background-color: #ffffff;
    border: 1px solid #d3d7d9;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
}
.form-mailing__button {
    font-family: Lato;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    width: 126px;
    height: 69px;
    background-color: #64c29e;
    text-transform: uppercase;
    border: none;
}


.footer {
}
.footer__text {
}
.footer__social__networks {
}
.footer__credits {
}