body{
    background-color: #e8e8e8;
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #000000;
    margin:0 auto 0 auto;
}

ul{
    margin: 0 auto 0 auto;
    list-style-image: "../img/check.png";
}

ul li {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #273d46;
}

.line-through{
    text-decoration: line-through;
}

.line-through:hover{
    text-decoration: none;
}

.bold{
    font-weight: 700;
}

.bold:hover{
    font-weight: 400;
    color: red;
}

.italic{
    font-style: italic;
}

.italic:hover{
    font-style: normal;
}

.uppercase{
    text-transform: uppercase;
}

.uppercase:hover{
    text-transform: none;
}

button{
    display: block;
    border: none;
    border-radius: 25px;
    width: 199px;
    height: 44px;
    box-shadow: 0px 6px 40px 0px;
    background-color: rgba(128,183,179,0.54);
    font-family: Arial;
    font-size: 14px;
    line-height: 40px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    margin: 0px auto 50px auto;
}

.shape-button{
    width: 21px;
    height: 14px;
    opacity: 0.8;
    display: inline;
    border:none;
    margin:0;
}

button:hover{
    background-color: #3a5856;;
}

button:active{
    background-color: #818181;
}

input{
    width: 250px;
    height: 40px;

}

input:focus{
    border: 1px solid #7fbed5;
    box-shadow: 0px 0px 20px -1px rgba(127,190,213,0.93);
}