@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Open Sans";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 100px;
}
.header__burger {
  width: 24px;
  height: 4px;
  background-color: #342e2e;
  margin: auto 0;
  position: relative;
}
.header__burger::after {
  content: "";
  position: absolute;
  top: -9px;
  width: inherit;
  height: inherit;
  background-color: inherit;
}
.header__burger::before {
  content: "";
  position: absolute;
  top: 9px;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.hi {
  background: url("../img/author.jpg") 20% 0%, url("../img/hi-fond.jpg");
  background-size: 500px auto;
  background-repeat: no-repeat, repeat;
  height: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hi__body {
  margin: 100px 25px 0 55%;
  height: 492px;
  width: 437px;
}
.hi__header {
  font-size: 4.0625rem;
  font-family: "Oswald";
  letter-spacing: normal;
  padding: 10px 0 10px 15px;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.hi__text {
  line-height: 1;
  padding: 10px 0;
  font-family: "Montserrat";
  font-size: 46px;
}
.hi__image-from {
  font-size: 16px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.hi__image-from_a {
  color: black;
  font-weight: 700;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-bottom: 1px solid;
}
.hi__button {
  width: 237px;
  font-size: 16px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 10px 0;
  font-weight: 800;
  margin-top: 30px;
}