@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Open+Sans:wght@400;700&family=Oswald:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  font-family: "Open Sans";
  font-size: 16px;
}

.button-read-more {
  width: 237px;
  font-size: 16px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 10px 0;
  font-weight: 800;
  margin-top: 30px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  border-bottom: 1px solid;
  color: inherit;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline {
  font-size: 40px;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.container > *:nth-child(2n) {
  background: url("../img/hi-fond.jpg");
}

.container > * > * {
  max-width: 1140px;
  margin: 0 auto;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 100px;
}
.header__burger {
  width: 24px;
  height: 4px;
  background-color: #342e2e;
  margin: auto 0;
  position: relative;
}
.header__burger::after {
  content: "";
  position: absolute;
  top: -9px;
  width: inherit;
  height: inherit;
  background-color: inherit;
}
.header__burger::before {
  content: "";
  position: absolute;
  top: 9px;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.hi {
  background: url("../img/author.jpg") 20% 0%, url("../img/hi-fond.jpg");
  background-size: 500px auto;
  background-repeat: no-repeat, repeat;
  height: 552px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hi__body {
  margin: 100px 25px 0 55%;
  height: 492px;
  width: 437px;
}
.hi__header {
  font-size: 4.0625rem;
  font-family: "Oswald";
  letter-spacing: normal;
  padding: 10px 0 10px 15px;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
}
.hi__text {
  line-height: 1;
  padding: 10px 0;
  font-family: "Montserrat";
  font-size: 46px;
}
.hi__image-from {
  font-size: 16px;
  letter-spacing: 6px;
  text-transform: uppercase;
}
.hi__image-from_a {
  color: black;
  font-weight: 700;
}
.profile__body {
  max-width: 1140px;
  margin: 0 auto;
  width: 80%;
}
.profile__subheadline {
  text-align: center;
  margin-bottom: 75px;
  font-size: 20px;
  margin-bottom: 75px;
}

.item-profile {
  width: 100%;
  margin-right: 25px;
}
.item-profile__header {
  font-family: "Oswald";
  font-size: 25px;
}
.item-profile__text {
  margin-top: 20px;
}
.item-profile__text_justify {
  text-align: justify;
  padding-right: 15px;
}
.item-profile__text_line-height-2 {
  line-height: 2;
}
.item-profile__image-by {
  margin-top: 20px;
  color: #555c66;
}
.item-profile__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.item-profile__image img {
  text-align: center;
  margin: 0 auto;
  height: 240px;
  width: 240px;
  border-radius: 50%;
}
.item-profile__text_bold {
  font-weight: 700;
}
.item-profile__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
.item-profile__social-media > * {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.item-profile:last-child {
  margin-right: 0;
}

.idea__body {
  padding: 30px 0;
}
.idea__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.idea__item:first-child {
  width: 260px;
}
.idea__header {
  text-align: center;
}
.idea__subheadline {
  text-align: center;
  font-family: "Oswald";
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}
.idea__text {
  margin-top: 30px;
  text-align: center;
}
.idea__button {
  margin-top: 30px;
  width: 240px;
  margin: 30px auto;
  text-align: center;
}
.idea__img {
  background: url("../img/idea.jpg");
  background-size: cover;
  height: 100%;
  width: 300px;
}

.capabilities__body {
  margin: 50px auto;
}
.capabilities__text {
  color: #111;
  max-width: 675px;
  text-align: center;
  margin: 20px auto;
}

.item-capabilities {
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 25px 15px 50px 20px;
  margin-right: 15px;
}
.item-capabilities__header {
  font-size: 24px;
  font-family: "Oswald";
  font-weight: 500;
  margin-bottom: 20px;
}
.item-capabilities__li {
  font-size: 20px;
}
.item-capabilities__li::before {
  content: "---";
  color: #111;
  letter-spacing: -2px;
  display: inline-block;
  width: 25px;
  height: 30px;
}

.spanish {
  height: 670px;
}
.spanish__body {
  margin: 0;
}

.spanish-item {
  width: 100%;
}
.spanish-item__img {
  width: 100%;
  height: 670px;
  background: url("../img/spanish.jpg");
  background-size: cover;
}

.item-sample {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
  grid-template-columns: 110px 1fr;
  padding-top: 25px;
}
.item-sample:first-child {
  padding-top: 50px;
}
.item-sample__logo {
  height: 65px;
  width: 65px;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 15px;
  grid-row-start: span 2;
}
.item-sample__logo img {
  width: 31px;
  margin: auto;
}
.item-sample__logo_idea {
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}
.item-sample__headline {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 15px;
  font-family: "Oswald";
}
.item-sample__text {
  width: 280px;
}
.item-sample__text_copyright {
  text-align: end;
  margin-top: auto;
  width: 410px;
  margin-bottom: 50px;
}

.branding {
  background: url("../img/branding.jpg");
  background-size: cover;
}
.branding__body {
  height: 835px;
  padding-top: 338px;
}
.branding__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.branding__copyright {
  text-align: center;
  margin-top: 30px;
}
.branding__copyright a {
  border-bottom: 2px solid #fdd460;
}

.item-branding {
  background-color: #fdd460;
  margin-left: 25px;
  height: 380px;
  padding: 25px 20px;
  max-width: 215px;
}
.item-branding > * {
  margin-bottom: 20px;
}
.item-branding__count {
  font-size: 48px;
  font-family: "OSWALD";
  border: 2px solid black;
  border-radius: 50%;
  width: 77px;
  height: 77px;
  padding-left: 13px;
  background: white;
}
.item-branding__header {
  font-size: 20px;
  font-family: "Oswald";
  font-weight: 700;
}
.item-branding__text {
  font-size: 14px;
  font-style: italic;
}
.item-branding__learn-more {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}