@charset "UTF-8";
/* Подключение normalize.scss */
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../fonts/PFDinTextCompPro-Regular.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PF Din Text Comp Pro";
  src: url("../fonts/PFDinTextCompPro-Medium.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #e8e8e8;
  font-family: "PF Din Text Comp Pro";
}

h3 {
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 auto 0 auto;
}

ul {
  margin: 0 auto 0 auto;
  list-style-type: none;
}

ul li {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #273d46;
}
ul li::before {
  content: "";
  width: 26px;
  height: 20px;
  display: inline-block;
  background: url(../img/check.png) no-repeat;
}

.line-through {
  text-decoration: line-through;
}
.line-through:hover {
  text-decoration: none;
}

.bold {
  font-weight: 700;
}
.bold:hover {
  font-weight: 400;
  color: red;
}
.bold:hover::before {
  font-weight: 400;
  background-color: red;
}

.italic {
  font-style: italic;
}
.italic:hover {
  font-style: normal;
}

.uppercase {
  text-transform: uppercase;
}
.uppercase:hover {
  text-transform: none;
}

button {
  display: block;
  border: none;
  border-radius: 25px;
  width: 199px;
  height: 44px;
  -webkit-box-shadow: 0px 6px 40px 0px;
          box-shadow: 0px 6px 40px 0px;
  background-color: rgba(128, 183, 179, 0.54);
  font-family: Arial;
  font-size: 22px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin: 0px auto 50px auto;
}
button:hover {
  background-color: #3a5856;
}
button:active {
  background-color: #818181;
}

.shape-button {
  width: 21px;
  height: 14px;
  opacity: 0.8;
  display: inline;
  border: none;
  margin: 0;
}

input {
  width: 300px;
  height: 40px;
}
input:focus {
  border: 1px solid #7fbed5;
  -webkit-box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
          box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
}

.red-line::first-line {
  color: red;
}

.red-letter::first-letter {
  color: red;
}

h3, ul li {
  font-size: 22px;
  font-family: "PF Din Text Comp Pro";
  color: #000000;
}