<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="d-grid gap-2 col-12 d-md-block">
    <button class="btn btn-primary btn-lg">Button</button>
    <button class="btn btn-secondary btn-sm" disabled>Button</button>
    <button class="btn btn-success" disabled>Button</button>
    <button class="btn btn-warning">Button</button>
    </div>
    <button class="btn btn-info">Button</button>
    <button class="btn btn-danger">Button</button>
    <button class="btn btn-light">Button</button>
    <button class="btn btn-dark">Button</button>
    <br>
    <button class="btn btn-outline-primary">Button</button>
    <button class="btn btn-outline-secondary">Button</button>
    <button class="btn btn-outline-success">Button</button>
    <button class="btn btn-outline-warning">Button</button>
    <button class="btn btn-outline-info">Button</button>
    <button class="btn btn-outline-danger">Button</button>
    <button class="btn btn-outline-light">Button</button>
    <button class="btn btn-outline-dark">Button</button>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>
      </div>
    <script src="js/bootstrap.bundle.min.js"></script>
</body>
</html>