@import "normalize.scss";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&family=Raleway:wght@400;700&display=swap');

$small-font: 12px;
$normal-font: 14px;
$medium-font: 16px;
$big-font: 40px;
$text-font-style: "Open Sans";
$base-color: #242121;
$yellow-color: #FCBB08;
$base-headline-font-family:"Montserrat";
$base-text-font-family:"Open Sans";

@mixin button-and-textarea-normalize {
    border: none;
    background: none;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

body{
    background: #F6F8FA;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.main-container{
    max-width: 1440px;
    margin:0 auto;
}

.headline {
    font-family: $base-headline-font-family;
    font-weight: 700;
    font-size: $big-font + 8;
    flex-wrap: nowrap;
    position: relative;
    @include flex-column();
    padding: 4px;
    color: $base-color;
    &::after{
        content: "";
        width: 60px;
        height: 4px;
        background-color: $yellow-color;

    }

    @media (max-width:600px){
        font-size: $big-font - 8px;
    }
}

.text{
    font-family: $base-text-font-family;
    font-weight: 300;
    font-size: $normal-font;
    line-height: 24px;
    margin-bottom: 10px;
    color: #373A39;
}

.logo {

    &__link {
    }

    &__img {
    }
}

.header {

    &__top {
    }

    &__top-body {
        padding:26px 53px 40px 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__content {
        background: url("../img/Header-bg.webp");
        background-size: cover;
        height: 660px;
        padding: 240px 0 70px 0;
    }

    &__content-body {
        @include flex-column();
    }

    &__hamburger{
        display: none;
    }

    &__content-headline {
        font-size: 100px;
        font-family: $base-headline-font-family;
        font-weight: 700;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    &__content-text {
        font-family: $base-headline-font-family;
        font-weight: 700;
        font-size: $medium-font;
        color: $yellow-color;
        letter-spacing: 2.74286px;
        text-align: center;
        text-transform: uppercase;
    }

    &__content-scroll {
        width: 20px;
        height: 35px;
        margin: auto auto 0 auto;
    }

    @media(max-width:780px){
        &__top-body{
            flex-wrap: wrap;
            justify-content: center;
        }

        &__logo-wrapper{
            margin-bottom: 20px;
        }
    }

    @media(max-width: 580px){
        &__menu-wrapper{
            display: none;

            &--visibility{
                display: block;
            }
        }

        &__logo-wrapper{
            width: 100%;
            margin-bottom: 50px;
        }

        &__hamburger{
            display: inline-block;
        }

        &__content-headline{
            font-size: 75px;
        }
    }
}

.header-menu {
    display: flex;
    &__li {
        text-transform: uppercase;
        margin-right: 50px;
        font: 700 $small-font "Raleway";
        text-align: center;

        &:last-child{
            margin-right: 0px;
        }

        &--selected {
            border-bottom:2px solid $yellow-color;
            padding:0 7px 7px 7px;
        }
    }

    &__link {
    }

    @media(max-width: 580px){
        flex-direction: column;
        
        &__li{
            font-size: $big-font;
            margin-bottom: 25px;
            margin-right: 0;
        }
    }
}
.about {

    &__body {
        padding: 143px 20px 255px 20px;
        display: flex;
        justify-content: center;

        & > *{
            margin-right: 133px;
        }

        & > *:last-child{
            margin-right: 0px;
        }
    }

    &__headline {
        
    }

    &__content {
        max-width: 770px;
    }

    &__text {
        
    }

    @media (max-width:800px){
        &__body{
            flex-direction: column;
        }
    }

}


.expertise {

    &__body {
        @include flex-column();
        padding:0 20px;
    }

    &__content {
        max-width: 600px;
    }

    &__row{
        display: flex;
        justify-content: space-between;
    }

    &__items{
        display: flex;
        margin-top: 125px;
        flex-wrap: wrap;
    }

    @media (max-width:1100px){
        &__row{
            flex-direction: column;
            justify-content: center;
            margin:0 auto;
            padding-top: 25px;
        }

        &__content{
            margin-top: 25px;
        }
    }
}
.horizontal-charts {
    @include flex-column();

    &__item {
    }

    &__line {
        width: 370px;
        height: 2px;
        background-color: #F0F0F0;
        position: relative;
        margin-bottom: 4px;
    }

    &__text {
        font-family: $base-text-font-family;
        font-weight: 400;
        font-size: $small-font - 1;
        line-height: 20px;
        letter-spacing: 1px;
        color: #1D1D1D;
        text-transform: uppercase;
    }

    &__percent {
        position: absolute;
    }

    &__wrapper{
        display: flex;
        position: relative;
    }

    & > *{
        margin-bottom: 28px;
    }

    & > *:last-child{
        margin-bottom: 0;
    }    

    @media(max-width:1100px){
        &__item{
            margin-left: auto;
            margin-right: auto;
        }
    }

    @media(max-width:500px){
        &__line{
            width: 200px;
        }
    }
}

.expertise-item {
    display: flex;
    margin: 20px 10px 0 10px;
    &__img {
        width: 50px;
        height: 50px;
        margin-right: 40px;
    }

    &__content{
        max-width: 285px;
        margin-right: 50px;

        &:last-child{
            margin-right: 0;
        }
    }
    &__headline {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: $normal-font;
        line-height: 20px;
        letter-spacing: 4.2875px;
        text-transform: uppercase;
        margin: 0 0 18px 0;
    }

    &__text{
        color: #777777;
    }
}
.item {

    &__img {
    }

    &__headline {
    }

    &__text {
    }
}
.features {
    margin-top: 50px;
    &__body {
        display: flex;
        justify-content: center;
    }

    &__img {
        max-width: 705px;
        max-height: 840px;
    }

    &__content {
        margin: 103px 0 100px 132px;
        @include flex-column();
        max-width: 460px;
    }

    &__headline {
        margin-bottom: 75px;
    }

    &__text {
    }

    @media (max-width:1100px){
        &__body{
            flex-direction: column;
        }

        &__img{
            margin:0 auto;
        }

        &__content{
            margin:50px auto 0 auto;
        }
    }
}
.portfolio {

    &__body {
    }

    &__headline{
        margin:0 auto;
    }

    &__row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__grid {
        display: grid;
        max-width: 1440px;
        margin:120px auto 115px auto;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(9, 1fr);
        width: 100%;
    }

    &__content-grid {
        left:0;
        top:0;
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        font-family: $base-text-font-family;
        @include flex-column();
        justify-content: center;
    }

    &__header-grid {
        font-weight: 600;
        font-size: $normal-font;
        line-height: $normal-font;
        text-align: center;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &__subheader-grid {
        font-weight: 300;
        font-size: $small-font;
        text-align: center;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    &__img-grid{
        z-index: -1;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    &__grid-item {
        min-height: 343px;
        max-height: 523px;
        width: 293px;
        margin: 0 22px 22px 0;
        background-color: #EDEDED;
        grid-row-end: span 3;
        position: relative;
        z-index: 0;
        border: solid 10px #EDEDED;
        &_rows-4{
            grid-row-end: span 4;
        }

        &_rows-5{
            grid-row-end: span 5;
        }

        &_rows-6{
            grid-row-end: span 6;
        }

        &:hover{
            border: 10px solid #666363;
            transition: 0.5s;
        }

        &:hover > .portfolio__content-grid{
            z-index: 1;
            transition: 0.5s;
            opacity: 1;
            background: rgba(76, 73, 73, 0.7);
        }

    }

    &__content{
        @include flex-column();
    }

    &__more-project {
        font-family: $base-headline-font-family;
        font-weight: 700;
        font-size: $normal-font;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1.2px;
        color: $base-color;
        @include button-and-textarea-normalize();
        text-transform: uppercase;
        margin-bottom: 180px;
    }



    &__quote {
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 300;
        font-size: $medium-font + 2;
        line-height: 36px;
        text-align: center;
        margin: 0 auto;
        max-width: 40em;
        color: $base-color;
        margin-bottom: 65px;
    }

    &__quote-author {
        font-family: 'Merriweather';
        font-style: italic;
        font-weight: 300;
        font-size: $normal-font;
        line-height: 32px;
        text-align: center;
        color: #9E9E9E;
        margin-bottom: 160px;
    }

    &__video-wrapper {
        display: flex;
        justify-content: center;
    }

    &__video {
        width: 50%;
    }

    &__mertics {
        display: flex;
        justify-content: space-around;
        padding: 164px 0 194px 0;
        flex-wrap: wrap;
    }

    @media (max-width:1200px){
        &__grid{
            grid-template-columns: repeat(3, 1fr);
            
        }
    }


    @media (max-width: 950px){
        &__grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 730px){
        &__grid{
            grid-template-columns: repeat(1, 1fr);
            justify-content: center;
            grid-template-rows: auto;
        }

        &__grid-item{
            margin:0 auto 50px auto;

            &_rows-4{
                grid-row-end: auto;
            }
    
            &_rows-5{
                grid-row-end: auto;
            }
    
            &_rows-6{
                grid-row-end: auto;
            }
        }
    }
}

.portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    &__item {
        font-family: $base-text-font-family;
        
        font-weight: 600;
        font-size: $small-font;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-left: 45px;
        color: #333;

        &--selected{
            border-bottom: 2px $yellow-color solid;
            padding: 0 4px 4px 4px;

        }
    }
}
.metric-item {
    @include flex-column();
    max-width: 100px;
    margin-left: 15px;
    margin-bottom: 20px;
    &__number {
        font-family: $base-headline-font-family;
        font-weight: 700;
        font-size: 60px;
        line-height: 73px;
        color: $base-color;
    }

    &__text {
        font-family: $base-text-font-family;
        font-size: $normal-font;
        line-height: 19px;
        color: #00B2A0;
    }

}
.slider {
    position: relative;
    padding:307px 0px 105px 133px; 
    &__forward {
        width: 50px;
        position: absolute;
        left: calc(100% - 25px);
        transform: translate(-100%, 0);
        top: 390px;    
    }

    &__back {
        width: 50px;
        position: absolute;
        left:0;
        top: 390px;
    }

    &__item{
        display: none;
    }

    &__item:first-child{
        display: inline-block;
    }

    &__body {
        @include flex-column();
        max-width: 700px;
    }

    &__headline {
        max-width: 30em;
        font-family: $base-headline-font-family;
        font-weight: 700;
        font-size: $big-font;
        line-height: 52px;
        color: $base-color;
        margin-bottom: 25px;
    }

    &__text {
        max-width: 50em;
    }

    &__control-panel {
        display: flex;
        flex-wrap: wrap;
        max-width: 30em;
    }

    &__page{
        margin-bottom: 25px;
        width: 6px;
        height: 6px;
        background: $base-color;
        opacity: 0.4;
        border-radius: 50%;
        margin-right: 13px;

        &--active{
            width: 10px;
            height: 10px;
            opacity: 1;
        }
    }

    @media(max-width:900px){
        padding-left: 10px;
        padding-right: 10px;
        &__forward{
            display: none;
        }

        &__back{
            display: none;
        }
    }
}
.team {

    &__body {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        max-width: 520px;
        margin-right: 30px;
        margin-bottom: 30px;
        &:last-child{
            margin-right: 0;
        }
    }

    &__img {
        margin-top: 105px;
    }

    &__name {
        font-family: $base-headline-font-family;
        
        font-weight: 700;
        font-size: $normal-font;
        line-height: 17px;
        text-align: center;
        color: #333333;
        margin-top: 35px;
    }

    @media(max-width:1200px){
        &__headline{
            width: 8em;
            margin:0 auto;
        }
    }

    @media(max-width:680px){
        &__item{
            margin-right: 0;
        }
    }
}
.pricing {

    &__body {
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        margin: 93px 0 0 0;
        justify-content: center;
    }

    &__item {
        background: #fff;
        width: 350px;
        margin:0 33px 33px 0;
        @include flex-column();
    }

    &__headline {
        font-family: $base-text-font-family;
        
        font-weight: 700;
        font-size: $medium-font;
        line-height: 22px;
        color: $base-color;
        margin: 24px 0 0 25px;
    }

    &__price {
        font-family: $base-text-font-family;
        
        font-weight: 300;
        font-size: 80px;
        line-height: 109px;
        text-align: center;
        color: $base-color;
        margin-bottom: 103px;

        &::after{
            content: "/mo";
            font-size: $medium-font + 4;
            line-height: 27px;
        }

        &::before{
            content: "$";
            font-size: $big-font;
            vertical-align: super;
        }
    }

    &__features {
    }

    &__feature {
        font-family: $base-text-font-family;
        
        font-weight: 300;
        font-size: $medium-font;
        line-height: 22px;
        text-align: center;
        color: $base-color;
        margin-bottom: 52px;
    }

    &__button {
        font-family: $base-headline-font-family;
        
        font-weight: 700;
        font-size: $normal-font;
        line-height: 17px;
        text-align: center;
        letter-spacing: 1.2px;
        color: $base-color;
        @include button-and-textarea-normalize();
        text-transform: uppercase;
        margin: 53px 0 53px 0;
    }

    @media(max-width:1200px){
        &__headline-h2{
            width: 8em;
            margin:0 auto;
        }
    }
    @media(max-width:680px){
        &__item{
            margin-right: 0;
        }
    }
}
.contact {

    &__body {
        display: flex;
        justify-content: center;
    }

    &__map {
        position: relative;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);;
    }

    &__map-wrapper {
        position:relative;
        overflow:hidden;
        height: 896px;
        max-width: 635px;
        width: 80%;
    }

    &__map-iframe{
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__contain{
        width: 570px;
        padding: 145px 10px 0 10px;
    }


    @media(max-width:1100px){
        &__body{
            flex-wrap: wrap;
        }

        &__contain{
            padding: 145px 10px 0 10px;
        }
    }
}
.contact-form {
    @include flex-column();

    &__input {
        @include button-and-textarea-normalize();
        border-bottom: 2px solid #373A39;
        background: none;
        font-family: $base-text-font-family;
        font-size: $medium-font + 8;
        line-height: 20px;
        color: #BB8;
        padding: 32px 0 18px 0;

        &::placeholder{
            font-size: $small-font;
            letter-spacing: 3.70909px;
        }
    }

    &__textarea {
        @include button-and-textarea-normalize();
        border-bottom: 2px solid #373A39;
        font-family: $base-text-font-family;
        font-size: $medium-font + 8;
        line-height: 20px;
        color: #B8B8B8;
        padding: 32px 0 18px 0;
        height: 156px;
        
        &[placeholder]{
            font-size: $small-font;
            letter-spacing: 3.70909px;
        }
    }

    &__button {
        background: $base-color;
        text-transform: uppercase;
        font-family: $base-headline-font-family;
        font-weight: 700;
        font-size: $small-font - 1;
        line-height: 13px;
        text-align: center;
        letter-spacing: 2px;
        width: 230px;
        height: 45px;
        color: #FFFFFF;
        margin-top: 40px;
    }

    @media(max-width:1000px){
        &__button{
            margin: 50px auto;
        }
    }
}
.footer {
    
    background: #373A39;
    &__body {
        padding: 110px 0 0 0;
        @include flex-column();
        max-width: 692px;
        margin: 0 auto;
    }

    &__logo-wrapper {
        margin:0 auto 26px auto; 
    }

    &__hr{
        width: 150px;
        border: $yellow-color 1px solid;
        margin:0 auto 72px auto;
    }

    

    &__menu {
        display: flex;
        justify-content: center;
        margin-bottom: 65px;
        flex-wrap: wrap;
    }

    &__item {
        margin-right: 15px;
        margin-bottom: 20px;
        font-family: $base-headline-font-family;
        font-weight: 300;
        font-size: $small-font;
        line-height: 15px;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &__text {
        font-family: $base-text-font-family;
        
        font-weight: 400;
        font-size: $normal-font;
        line-height: 32px;
        text-align: center;
        color: #A8A8A8;
        margin-bottom: 126px;
    }

    &__copyright {
        text-align: center;
        padding:43px 0 41px 0;
        background: #2A2C2B;
        font-family: $base-text-font-family;
        font-size: $small-font;
        color: #CCCCCC;
    }
}
