@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova Rg";
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  font-family: "Proxima Nova Rg";
  font-size: 16px;
}

.container {
  background-color: rgba(245, 245, 245, 0.98);
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__body {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #232B39), to(#000000));
  background: linear-gradient(to right, #232B39 40%, #000000);
  padding: 25px 40px 100px 15px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  margin: 120px 0 0 0;
}
.header__content > * {
  margin-bottom: 25px;
}
.header__headline {
  font-size: 35px;
  color: white;
  line-height: 1;
  font-weight: 600;
}
.header__headline_red {
  font-size: 30px;
  color: #BF3D37;
  font-weight: normal;
}
.header__text {
  font-weight: 600;
  font-size: 30px;
  color: white;
}
.header__img {
  -webkit-filter: brightness(0.45);
          filter: brightness(0.45);
  background: url("../imgs/jellyfish.png") no-repeat right;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: auto;
  height: 460px;
}

.logo {
  width: 90px;
  height: 90px;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__item {
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-left: 40px;
}

.vertical-line {
  margin-right: calc(50% - 133px);
  float: right;
  -webkit-animation: vertical-line 3s forwards;
          animation: vertical-line 3s forwards;
  border: none;
  border-bottom: #000000 3px solid;
}
.vertical-line_red {
  border-bottom: 3px solid #BF3D37;
}

@-webkit-keyframes vertical-line {
  0% {
    width: 0px;
  }
  100% {
    width: 266px;
  }
}

@keyframes vertical-line {
  0% {
    width: 0px;
  }
  100% {
    width: 266px;
  }
}
.scroll-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.my-name__body {
  padding: 25px 15px 0 30px;
}
.my-name__photo {
  margin-top: 50px;
  border: 3px solid #000;
  background: url("../imgs/dotted.png");
  width: 426px;
  height: 647px;
}
.my-name__photo img {
  -webkit-transform: translate(-15px, -15px);
          transform: translate(-15px, -15px);
}
.my-name__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.my-name__row > * {
  margin-right: 100px;
}
.my-name__row > *:last-child {
  margin-right: 0px;
}
.my-name__content {
  max-width: 570px;
}
.my-name__header {
  font-size: 24px;
  font-weight: 400;
}
.my-name__text > p {
  margin-top: 12px;
  line-height: 16px;
}
.my-name__button {
  background-color: #BF3D37;
  color: white;
  padding: 15px 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 12px;
  font-weight: 400;
  margin-top: 20px;
  font-weight: 600;
}

.horizontal-line {
  height: 100px;
  border: none;
  border-left: 3px solid #BF3D37;
  -webkit-animation: horizontal-line 3s forwards;
          animation: horizontal-line 3s forwards;
  margin: 0px 0 30px 100px;
}
.horizontal-line_center {
  margin-left: calc(50% - 2px);
}

@-webkit-keyframes horizontal-line {
  0% {
    height: 0px;
  }
}

@keyframes horizontal-line {
  0% {
    height: 0px;
  }
}
.services__row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services__row > * {
  margin-right: 15px;
}

.headline {
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

.service-item {
  background: #fff;
  padding: 25px 15px;
  width: 360px;
  min-width: 270px;
  margin-bottom: 20px;
}
.service-item__healine {
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.service-item__healine::before {
  content: "";
  border-left: #BF3D37 3px solid;
  margin-right: 15px;
  display: inline-block;
  height: 27px;
}
.service-item__text {
  font-size: 20px;
}

.portfolio__text {
  text-align: center;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 20px 0;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0 0 20px;
}
.portfolio-grid__case {
  margin: 0 20px 20px 0;
  height: 200px;
  position: relative;
}
.portfolio-grid__case img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 10px 10px;
     object-position: 10px 10px;
  height: 100%;
}
.portfolio-grid__case img:hover {
  margin-top: 10px;
  -o-object-position: 10px 0;
     object-position: 10px 0;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: 1s -webkit-filter;
  transition: 1s -webkit-filter;
  transition: 1s filter;
  transition: 1s filter, 1s -webkit-filter;
  -webkit-filter: brightness(0.55);
          filter: brightness(0.55);
  position: relative;
}
.portfolio-grid__case:hover .portfolio-grid__figcaption {
  display: block;
  left: 45px;
  top: 165px;
  color: white;
  text-transform: uppercase;
  border-left: white 4px solid;
  padding-left: 15px;
  line-height: 1.25;
  font-size: 12px;
}
.portfolio-grid__figcaption {
  position: absolute;
  display: none;
}